<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-title">
              <div class="page-header">
                <h3>隱私權政策</h3>
              </div>
                <ol class="list-group">
                  <li>適用範圍
                    <ol type="a">
                      <li>當您與TibaMe洽辦業務或參與TibaMe各項活動，我們將視業務或活動性質請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，TibaMe不會將個人資料用於其他用途。</li>
                      <li>凡經由TibaMe網站連結至第三方獨立管理、經營之網站，有關個人資料的保護，適用第三方或各該網站的隱私權政策，TibaMe不負任何連帶責任。 </li>
                    </ol>
                  </li>
                  <li>個人資料之蒐集、處理及利用
                      <ol type="a">
                          <li>當您與TibaMe洽辦業務或參與TibaMe各項活動，我們將視業務或活動性質請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，TibaMe不會將個人資料用於其他用途。</li>
                          <li>如果您使用電話、傳真或TibaMe網站意見信箱與TibaMe聯繫時，請您提供正確的電話、傳真號碼或電子信箱地址，作為回覆來詢事項之用。</li>
                          <li>您的個人資料在處理過程中，TibaMe將遵守相關之流程及內部作業規範，並依據資訊安全之要求，進行必要之人員控管。</li>
                          <li>單純瀏覽TibaMe網站及下載檔案之行為，TibaMe不會蒐集任何與個人身份有關之資訊。</li>
                          <li>您同意TibaMe網站，透過您所提供的郵件地址，與您取得聯絡並發送課程相關資訊提供您參考。</li>
                        </ol>
                  </li>
                  <li>與第三人共用個人資料
                    <ol type="a">
                      <li>TibaMe絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但有法律依據或合約義務者，不在此限。</li>
                      <li>前項但書之情形包括不限於： * 配合司法單位合法的調查。 * 配合主管機關依職權或職務需要之調查或使用（例如審計部或會計師查帳）。 * 基於善意相信揭露您的個人資料為法律所必需。 * 當您在TibaMe網站的行為，違反TibaMe的服務條款或可能損害或妨礙TibaMe權益或導致任何人遭受損害時，經TibaMe研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。 * 基於委外契約關係，TibaMe依約履行提供個人資料之義務。</li>
                      <li>TibaMe委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。</li>
                    </ol>
                  </li>
                  <li>cookie之運用
                    <ol type="a">
                      <li>基於網站內部管理之需要及提供最佳個人化服務，TibaMe網站將在您的瀏覽器中寫入cookies並讀取記錄瀏覽者的IP位址、上網時間以及在各項資訊查閱之次數，進行網站流量和網路行為調查之總量分析，並適時地對個別瀏覽者進行分析，以提供更符合的資訊服務。 </li>
                      <li>若您關閉cookies，將無法使用本站與網站群部分服務。</li>
                    </ol>
                  </li>
                  <li>伺服器紀錄 當您透過瀏覽器、應用程式或其他用戶端使用TibaMe網站時，我們的伺服器會自動記錄特定的技術性資訊。這些伺服器紀錄可能包含您的網頁要求、網際網路通訊協定位址、瀏覽器類型、瀏覽器語言、送出要求的日期和時間等資訊。此伺服器紀錄僅作為伺服器管理的參考，TibaMe不會利用此伺服器紀錄對「個別」瀏覽者進行分析。</li>
                  <li>隱私權聲明之修改 本隱私權聲明將適時依據法律修正、相關技術之發展及內部管理制度之調整而配合修改，以落實保障您隱私權及網路安全之初衷，請會員隨時上網察看。</li>
                </ol>
            </div>
          </div>
    </div>
</div>
